/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #918a37;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgb(149, 196, 162);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  text-align: center;
  color: rgba(0, 123, 255, 0.8);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
select,
button {
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: 2px solid rgba(0, 123, 255, 0.5);
  border-radius: 5px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: new times roman;
  color: #ad185e;
}

#error {
  color: red;
  text-align: center;
}
